include ./partials/mixins
doctype html
html(lang="en")
  include ./partials/header
body
    .reveal
      .slides.lh-copy.f3.fw3.bunting

        // Title
        section.slide--horizontal.slide--theme1
          .white.h-100.flcnw.flc.bg-gradient-purple
            .f-headline.lh-title Algolia for Jekyll

        include ./slides/jekyll-presentation
        include ./slides/jekyll-algolia-presentation
        include ./slides/live-demo
        include ./slides/extracting-records
        include ./slides/atomic-diff

        // Questions
        section.slide--horizontal.slide--theme1
          .white.h-100.flcnw.flc.bg-gradient-purple
            .f-headline.lh-title Questions?


        include ./partials/aside-horizontal
        include ./partials/aside-vertical

    include ./partials/footer
